
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
@font-face {
    font-family: avenirRegular;
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: avenirBold;
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf);

}
@font-face {
    font-family: avenirDemi;
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
}

@mixin tablet-desktop__subheader {
    font-size: 1.5em;
    line-height: 1.375em;
}

@mixin subheader {
    font-size: 0.875em;
    line-height: 1.375em;
}

@mixin header {
    font-size: 1.5em;
    line-height: 2em;
}

@mixin tablet-desktop__header{
    font-size: 2.25em;
    line-height: 2.75em;
}

@mixin footer {
    font-size: 0.8125em;
    line-height: 1.125em;
    color: $white;
    background-color: $bandsite-black;
    font-family: avenirRegular;
}

@mixin tablet-desktop__footer {
    font-size: 0.875em;
    line-height: 1.25em;
}

@mixin body {
    font-size: 13px;
    line-height: 18px;
    font-family: avenirRegular;
}

@mixin desktop-tablet__body {
    font-size: 14px;
    line-height: 22px;
    font-family: avenirRegular;
}