@font-face {
    font-family: "Avenir Next Regular";
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Avenir Next Bold;
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2");
    font-weight: 700;
    font-style: normal;
}

