@font-face {
  font-family: avenirRegular;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirBold;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: avenirDemi;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
}
body {
  margin: 0em;
}

.current {
  color: #E1E1E1;
  text-decoration: underline;
  text-underline-offset: 16px;
  -webkit-text-decoration-color: #E1E1E1;
          text-decoration-color: #E1E1E1;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  margin: 0em;
}

.header-nav__list {
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 0.9375em;
  line-height: 1.25em;
  font-family: avenirRegular;
  padding: 1em;
}
@media (min-width: 600px) {
  .header-nav__list {
    display: flex;
    padding: 1em;
    align-items: center;
    width: 50%;
    justify-content: left;
    margin: 0;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}

.header-nav__title {
  font-family: avenirRegular;
  text-align: center;
  margin: auto;
  font-size: 0.875em;
  line-height: 1.375em;
  max-width: 120px;
  max-height: 1.25em;
  margin: auto;
  justify-content: center;
  max-height: 1.25em;
  max-width: 120px;
}
.header-nav__title p {
  margin: 0px;
  padding-bottom: 1em;
}
@media (min-width: 600px) {
  .header-nav__title {
    line-height: 44px;
    justify-content: left;
    margin: 0px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    font-size: 1.5em;
    line-height: 1.375em;
  }
  .header-nav__title p {
    display: flex;
    padding-bottom: 36px;
    margin: 0px;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .header-nav__title p {
    padding: 0px;
  }
}

.header ul {
  display: flex;
  margin: auto;
  padding-left: 0;
  padding-bottom: 0.25em;
  padding-top: 0.75em;
  border-bottom: 0.25em;
  justify-content: space-evenly;
}
@media (min-width: 600px) {
  .header ul {
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    padding-left: 36px;
  }
}

li {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 600px) {
  li {
    justify-content: space-around;
    padding: 1em;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  border-bottom-width: 16px;
  border-bottom-style: #E1E1E1;
}

.header-image {
  position: relative;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  height: 40vh;
  font-family: avenirDemi;
}
@media (min-width: 600px) {
  .header-image {
    height: 45vh;
  }
}
.header-image img {
  position: relative;
  width: 100%;
  height: 40vh;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (min-width: 600px) {
  .header-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.header-image .shows-header-image__overlay {
  position: absolute;
  background-color: #323232;
  opacity: 50%;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: avenirRegular;
  background-image: url(../assets/Images/shows-bio.jpg);
  background-size: cover;
}
.header-image .shows-header__image-text {
  height: 40%;
  position: absolute;
}
@media (min-width: 1200px) {
  .header-image .shows-header__image-text {
    height: 70%;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2.25em;
    line-height: 2.75em;
  }
}
.header-image .iframe {
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 600px) {
  .header-image .iframe {
    width: 100%;
    justify-content: left;
  }
}
@media (min-width: 1200px) {
  .header-image .iframe {
    justify-content: flex-end;
    align-items: center;
    width: 95%;
  }
}
.header-image .iframe iframe {
  position: relative;
  width: 90vw;
  height: 35%;
  padding: 16px;
  padding-bottom: 32px;
}
@media (min-width: 600px) {
  .header-image .iframe iframe {
    width: 30%;
    padding-right: 200px;
    position: relative;
    width: 45vw;
    height: 35%;
    padding: 16px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header-image .iframe iframe {
    justify-content: center;
    align-items: flex-end;
    width: 40%;
  }
}
.header-image .header-image__text {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 90%;
  height: 100%;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 2em;
  justify-content: center;
  padding-left: 16px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .header-image .header-image__text {
    padding-left: 36px;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    font-size: 45px;
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .header-image .header-image__text {
    justify-content: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 32px;
    font-size: 60px;
  }
}
.header-image .header-image__overlay {
  position: absolute;
  background-color: #323232;
  opacity: 50%;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: avenirRegular;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
}
.header-image .shows__album-intro {
  position: relative;
  font-family: avenirRegular;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  margin: 0px;
  padding: 36px 16px 16px 16px;
  overflow: hidden;
  height: 20%;
}
@media (min-width: 1200px) {
  .header-image .shows__album-intro {
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.header-image .album-intro {
  position: relative;
  font-family: avenirRegular;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  margin: 0px;
  padding: 36px 16px 16px 16px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .header-image .album-intro {
    display: flex;
    width: 44%;
    padding: 0px 0px 0px 36px;
    align-items: center;
    justify-content: flex-end;
  }
}
.header-image .album-title {
  position: relative;
  font-family: avenirDemi;
  font-size: 25px;
  line-height: 32px;
  width: 80%;
  margin: 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
}
@media (min-width: 600px) {
  .header-image .album-title {
    font-size: 60px;
    width: 85vw;
    line-height: 68px;
  }
}
@media (min-width: 1200px) {
  .header-image .album-title {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 16px 0px 0px 36px;
    line-height: 60px;
    justify-content: flex-end;
    font-size: 36px;
  }
}

.about {
  color: #323232;
  padding: 0px 1em;
}
@media (min-width: 600px) {
  .about {
    padding: 0px 36px;
  }
}
.about .about-header__title {
  font-family: avenirDemi;
  font-size: 1.5em;
  line-height: 2em;
  padding-top: 24px;
  padding-bottom: 1em;
  margin: 0px;
}
@media (min-width: 600px) {
  .about .about-header__title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    font-size: 2.25em;
    line-height: 2.75em;
  }
}
@media (min-width: 1200px) {
  .about .about-header__title {
    width: 100%;
  }
}
.about .about-header__image {
  position: relative;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  height: auto;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .about .about-header__image {
    max-width: 75%;
    margin: auto;
  }
}
.about .about-header__image img {
  position: relative;
  max-height: auto;
  max-width: 100%;
}
.about .about-header__quote {
  font-family: avenirDemi;
  font-size: 0.875em;
  line-height: 1.375em;
}
@media (min-width: 600px) {
  .about .about-header__quote {
    font-size: 1.5em;
    line-height: 1.375em;
  }
}
@media (min-width: 1200px) {
  .about .about-header__quote {
    max-width: 75%;
    margin: auto;
    padding-top: 36px;
  }
}
.about .about-subheader__title {
  font-size: 0.875em;
  line-height: 1.375em;
  font-family: avenirDemi;
  color: #000000;
}
@media (min-width: 600px) {
  .about .about-subheader__title {
    font-size: 1.5em;
    line-height: 1.375em;
  }
}
@media (min-width: 1200px) {
  .about .about-subheader__title {
    max-width: 75%;
    margin: auto;
    padding-top: 36px;
  }
}
.about .about-subheader {
  font-size: 13px;
  line-height: 22px;
  font-family: avenirRegular;
}
@media (min-width: 600px) {
  .about .about-subheader {
    width: 100%;
    height: 90%;
    margin: 0px;
    text-align: justify;
    justify-content: space-between;
    font-size: 0.875em;
    line-height: 1.375em;
    font-family: avenirRegular;
    display: flex;
  }
  .about .about-subheader p {
    padding-right: 36px;
  }
}
@media (min-width: 1200px) {
  .about .about-subheader {
    max-width: 75%;
    margin: auto;
  }
  .about .about-subheader p {
    padding-right: 36px;
  }
}

.gallery {
  padding: 1em;
  font-family: avenirDemi;
  color: #323232;
  font-size: 1.5em;
  line-height: 2em;
  background-color: #FAFAFA;
}
.gallery p {
  margin: 0em;
}
@media (min-width: 600px) {
  .gallery {
    padding: 36px;
    font-size: 2.25em;
    line-height: 2.75em;
  }
  .gallery p {
    padding-top: 0.75em;
    padding-left: 0.75em;
    margin: 0em;
  }
}
@media (min-width: 600px) and (min-width: 1200px) {
  .gallery {
    padding-left: 18px;
  }
}

.gallery-images img {
  position: relative;
  height: auto;
  width: 100%;
  padding: 5px;
  filter: grayscale(100%);
}
@media (min-width: 37.5em) {
  .gallery-images img {
    width: 30%;
    padding: 0.25em;
  }
}
@media (min-width: 1200px) {
  .gallery-images img {
    padding: 18px;
  }
}

.gallery-images img:hover {
  filter: none;
}

.gallery-images {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .gallery-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer {
  margin: 0px;
  padding: 1em;
  font-size: 0.8125em;
  line-height: 1.125em;
  color: #FFFFFF;
  background-color: #323232;
  font-family: avenirRegular;
}
@media (min-width: 600px) {
  .footer {
    font-size: 0.875em;
    line-height: 1.25em;
    padding: 3em 2.25em 2.25em 2.25em;
    display: flex;
    flex-direction: column;
  }
}
.footer .footer-socialcontainer {
  line-height: 1.25em;
  font-weight: 700;
  width: 50%;
  height: auto;
  display: flex;
}
.footer .footer-socialcontainer a {
  justify-content: space-between;
  display: flex;
  padding-right: 1em;
}
.footer .footer-socialcontainer a img {
  width: 1.5em;
  height: 1.5em;
}
@media (min-width: 37.5em) {
  .footer .footer-socialcontainer {
    display: flex;
    flex-direction: row;
    line-height: 2.75em;
    justify-content: space-between;
    width: 15%;
    align-items: baseline;
  }
  .footer .footer-socialcontainer a {
    justify-content: space-between;
    display: flex;
    padding-right: 0.5em;
  }
  .footer .footer-socialcontainer img {
    max-width: 1.75rem;
    max-height: 1.75rem;
    justify-content: space-between;
    display: flex;
  }
}
@media (min-width: 75em) {
  .footer .footer-socialcontainer a {
    justify-content: left;
    padding: 0.5em;
  }
}
.footer .footer-header {
  color: #FFFFFF;
  font-family: avenirDemi;
  padding-bottom: 1em;
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
}
@media (min-width: 37.5em) {
  .footer .footer-header {
    font-size: 2.25em;
    line-height: 2.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer .footer-header p {
    margin: 0em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 37.5em) {
  .footer .footer-contactinfo {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}
@media (min-width: 75em) {
  .footer .footer-contactinfo {
    width: 75%;
    font-size: 0.875em;
    line-height: 1.25em;
  }
}
@media (min-width: 75em) {
  .footer .footer-contactinfo {
    font-size: 1em;
    line-height: 1.5em;
    height: auto;
  }
}
.footer .footer-copy__first-line {
  font-weight: 600;
}
.footer .footer-copy {
  font-weight: 400;
}
@media (min-width: 37.5em) {
  .footer .footer-copy {
    font-size: 0.875em;
    line-height: 1.25em;
  }
}
.footer .footer-logo__two {
  line-height: 2em;
  padding-top: 1.5em;
  padding-bottom: 0em;
}
@media (min-width: 37.5em) {
  .footer .footer-logo__two {
    display: none;
  }
}
.footer .footer-logo__one {
  line-height: 2em;
  padding-bottom: 0em;
  display: flex;
  width: 45%;
  justify-content: flex-end;
  right: 1%;
}
@media (max-width: 37.4735em) {
  .footer .footer-logo__one {
    display: none;
  }
}
@media (min-width: 75em) {
  .footer .footer-logo__one {
    width: 70%;
  }
}
.footer .footer-copyright {
  font-size: 0.8125em;
}

.comment-section {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0px 16px 0px;
}
@media (min-width: 600px) {
  .comment-section {
    padding: 48px 0px 36px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}
.comment-section p {
  font-family: avenirRegular;
  margin-left: 16px;
}
@media (min-width: 600px) {
  .comment-section p {
    margin-left: 36px;
  }
}

.comment-list {
  border-top: 1px solid #E1E1E1;
  background-color: #FFFFFF;
  margin-top: 16px;
  font-family: avenirRegular;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .comment-list {
    width: 50%;
    margin: auto;
    margin-top: 36px;
  }
}
.comment-list ul {
  list-style: none;
  padding: 16px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 600px) {
  .comment-list ul {
    padding: 36px;
    padding-left: 0px;
  }
}
.comment-list ul .user-name {
  justify-content: start;
}
.comment-list ul .user-timestamp {
  color: #E1E1E1;
  justify-content: end;
}
.comment-list ul li {
  margin-left: 20%;
  display: flex;
}
@media (min-width: 600px) {
  .comment-list ul li {
    padding: 0px;
  }
  .comment-list ul li .user-timestamp {
    justify-content: flex-end;
  }
}
.comment-list ul img {
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
  padding: 24px;
  background-color: #e1e1e1ee;
  position: absolute;
  justify-content: left;
  margin-right: 80%;
}
@media (min-width: 600px) {
  .comment-list ul img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 80%;
  }
}
.comment-list ul img::-moz-placeholder {
  background-color: #eee;
  display: flex;
  height: 180px;
  margin: 5px;
  width: 260px;
}
.comment-list ul img:-ms-input-placeholder {
  background-color: #eee;
  display: flex;
  height: 180px;
  margin: 5px;
  width: 260px;
}
.comment-list ul img::placeholder {
  background-color: #eee;
  display: flex;
  height: 180px;
  margin: 5px;
  width: 260px;
}

#my-form {
  font-family: avenirRegular;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 600px) {
  #my-form {
    font-family: avenirRegular;
    width: 50%;
  }
}
#my-form #avatar {
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
  border: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  #my-form #avatar {
    max-width: 48px;
    max-height: 48px;
    width: 20%;
  }
}
#my-form .form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#my-form .avatar-class {
  display: none;
}
#my-form input, #my-form textarea {
  min-height: 36px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  justify-content: right;
  font-family: avenirRegular;
  padding: 12px;
}
@media (min-width: 600px) {
  #my-form input, #my-form textarea {
    min-height: 48px;
    width: 90%;
    padding: 16px;
  }
}
#my-form label {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  margin: 4px;
}
@media (min-width: 600px) {
  #my-form label {
    font-size: 12px;
    line-height: 10px;
    margin: 4px;
  }
}
#my-form input:active, #my-form textarea:active {
  border-color: #323232;
}
#my-form input:invalid {
  border: 1px solid #D22D2D;
}
#my-form textarea:invalid {
  border: 1px solid #D22D2D;
}
#my-form button {
  display: block;
  height: 40px;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  width: 86%;
}
@media (min-width: 600px) {
  #my-form button {
    max-width: 105%;
  }
}
#my-form button:hover {
  background-color: #000000;
  color: #FFFFFF;
  width: 86%;
}
@media (min-width: 600px) {
  #my-form button:hover {
    max-width: 105%;
  }
}

.shows {
  font-family: avenirRegular;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
}
@media (min-width: 600px) {
  .shows {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .shows {
    display: flex;
  }
  .shows p {
    width: 20%;
    padding-left: 10%;
  }
}
.shows table {
  width: 100%;
}
@media (min-width: 1200px) {
  .shows table {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-right: 10%;
  }
}
.shows table thead {
  color: #AFAFAF;
}
@media (max-width: 599px) {
  .shows table thead {
    display: none;
  }
}
.shows table thead tr {
  display: flex;
  justify-content: space-between;
  width: 67%;
  padding: 16px;
}
.shows table thead tr :last-child {
  display: none;
}
.shows table thead tr th {
  width: 25%;
  text-align: left;
}
@media (min-width: 600px) {
  .shows table thead {
    margin: 0;
    width: 100%;
    padding: 24px 18px;
  }
}
.shows table tbody tr {
  width: 90%;
}
.shows table tbody tr :first-child, .shows table tbody tr :nth-child(3), .shows table tbody tr :nth-child(5), .shows table tbody tr :nth-child(7) {
  font-family: avenirDemi;
  color: #AFAFAF;
}
.shows table tbody tr :nth-child(7) {
  display: none;
}
.shows table tbody tr :nth-child(6) {
  padding-bottom: 16px;
}
.shows table tbody tr :nth-child(2) {
  font-family: avenirDemi;
}
.shows table tbody tr :last-child {
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  background-color: #323232;
  color: #E1E1E1;
  justify-content: center;
  height: 70%;
  align-items: center;
  padding: 16px;
  width: 90%;
}
@media (min-width: 600px) {
  .shows table tbody tr :last-child {
    width: 15%;
  }
}
@media (min-width: 37.4735em) {
  .shows table tbody tr {
    display: flex;
    padding: 24px 18px;
    width: 100%;
  }
  .shows table tbody tr :first-child, .shows table tbody tr :nth-child(3), .shows table tbody tr :nth-child(5), .shows table tbody tr :nth-child(7) {
    display: none;
  }
}
.shows table tbody tr td {
  display: flex;
  padding-top: 16px;
}
@media (min-width: 600px) {
  .shows table tbody tr td {
    display: block;
    width: 25%;
  }
}
.shows table tbody tr:hover {
  background-color: #FAFAFA;
}
.shows table tbody tr:active {
  background-color: #E1E1E1;
}/*# sourceMappingURL=bio.css.map */