@import "_partials";

body {
    margin: 0em;
}

.current {
    color: $mercury;

    }

.header {
    background-color: $bandsite-black;
    color: $white;
    margin: 0em;
    }

    .header-nav__list {
        margin: auto;
        text-align: center;
        justify-content: center;
        font-size: 0.9375em;
        line-height: 1.25em;
        font-family: avenirRegular;
        padding: 1em;
       
        
        @media (min-width: 600px) {
            display: flex;
            padding: 1em;
            align-items: center;
            width: 50%;
            justify-content: left;
            margin: 0;
            max-height: fit-content;
        }
    }

    .header-nav__title {
        font-family: avenirRegular;
        text-align: center;
        margin: auto;
        @include subheader;
        max-width: 120px;
        max-height: 1.25em;
        margin: auto;
        justify-content: center;
        max-height: 1.25em;
        max-width: 120px;
        
        p {
            margin: 0px;
            padding-bottom: 1em;
        }

        @media (min-width: 600px){
            line-height: 44px;
            justify-content: left;
            margin: 0px;
            max-height: fit-content;
            @include tablet-desktop__subheader;
        

            p {
                display: flex;
                padding-bottom: 36px;
                margin: 0px;

                @media (min-width: 600px) {
                    padding: 0px;
                    
                }
            }
        }
    }

    ul {
        display: flex;
        margin: auto;
        padding-left: 0;
        padding-bottom: 0.25em;
        padding-top: 0.75em;
        border-bottom: .25em;

        @media (min-width: 600px) {
            justify-content: space-around;
            margin: 0px;
            padding: 0px;
            padding-left: 36px;
    }
}
    

    li {
        display: flex;
        justify-content: space-around;
        
        @media (min-width: 600px) {
            justify-content: space-around;
            padding: 1em;
            max-height: fit-content;
        } 
    }

    a {
        color: $white;
        text-decoration: none;
    }

    .header-image {
        position: relative;
        text-align: left;
        color: $white;
        display: flex;
        height: auto;
        max-width: 100%;

        img {
            position: relative;
            max-height: auto;
            max-width: 100%;
        }

        .header-image__overlay {
            position: absolute;
            background-color: $bandsite-black;
            opacity: 50%;
            color: $white;
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: avenirRegular;
        }

        .header-image__text {
            position: absolute;
            top: 30%;
            left: 5%;
            font-family: avenirDemi;
            font-size: 7vw;
        }
    }


.about {
    color: $bandsite-black;
    padding: 0px 1em;

        @media (min-width: 600px) {
            padding: 0px 36px
        }

    .about-header__title {
        font-family: avenirDemi;
        @include header;
        padding-top: 24px;
        padding-bottom: 1em;
        margin: 0px;

        @media (min-width: 600px) {
            padding-top: 48px;
            padding-bottom: 36px;
            font-size: 36px;
            line-height: 44px;
            @include tablet-desktop__header

        }
    }

    .about-header__image {
        position: relative;
        text-align: left;
        color: $white;
        display: flex;
        height: auto;
        max-width: 100%;

        @media (min-width: 1200px) {
            max-width: 75%;
            margin: auto;
        }

        img {
            position: relative;
            max-height: auto;
            max-width: 100%;

            
        }
    }


    .about-header__quote {
        font-family: avenirDemi;
        @include subheader;

        @media (min-width: 600px) {
            @include tablet-desktop__subheader;
        }
        @media (min-width: 1200px) {
            max-width: 75%;
            margin: auto;
            padding-top: 36px;
        }
    }

    .about-subheader__title {
        @include subheader;
        font-family: avenirDemi;
        color: $bandsite-darkblack;
        
        @media (min-width: 600px) {
            @include tablet-desktop__subheader;
        }
        @media (min-width: 1200px) {
            max-width: 75%;
            margin: auto;
            padding-top: 36px
        }
    }

    .about-subheader{
        font-size: 13px;
        line-height: 22px;
        font-family: avenirRegular;
        
    

        @media (min-width:600px) {
            width: 100%;
            height: 90%;
            margin: 0px;
            text-align: justify;
            justify-content: space-between;
            @include subheader;
            font-family: avenirRegular;
            display: flex;

            p {
                padding-right: 36px;
            }
        }
        
        @media (min-width: 1200px) {
            max-width: 75%;
            margin: auto;

            p {
                padding-right: 36px;
            }
        }
    }
}

.gallery {
    padding: 1em;
    font-family: avenirDemi;
    color: $bandsite-black;
    @include header;
    background-color: $alabaster;

    p {
        margin: 0em;
    }
    

    @media (min-width: 600px) {
        padding: 36px;
        @include tablet-desktop__header;

        p {
            padding-top: .75em;
            padding-left: 0.75em;
            margin: 0em;
            }

            @media (min-width: 1200px) {
                padding-left: 18px;
            }
        }
    }

    

    .gallery-images img {
        position: relative;
        height: auto;
        width: 100%;
        padding: 5px;

        @media (min-width: 37.5em) {
            width: 30%;
            padding: .25em;
        }

        @media (min-width: 1200px) {
            padding: 18px;
        }
    }

    .gallery-images {
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
            flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    }


.footer {
    margin: 0px;
    padding: 1em;
    @include footer;


    @media (min-width:600px) {
        @include tablet-desktop__footer;
        padding: 3em 2.25em 2.25em 2.25em;
        display: flex;
        flex-direction: column;
    }

    .footer-socialcontainer {
        line-height: 1.25em;
        font-weight: 700;
        width: 50%;
        height: auto;
        display: flex;

        a {
            justify-content: space-between;
            display: flex;
            padding-right: 1em;
        
            img {
                width: 1.5em;
                height: 1.5em;
            }
        }

        

        @media (min-width: 37.5em) {
            display: flex;
            flex-direction: row;
            line-height: 2.75em;
            justify-content: space-between;
            width: 15%;
            align-items: baseline;
    

            a {
                justify-content: space-between;
                display: flex;
                padding-right: .5em;
            }

            img {
                max-width: 1.75rem;
                max-height: 1.75rem;
                justify-content: space-between;
                display: flex;
            }
        }

        @media (min-width: 75em) {
            a {
            justify-content: left;
            padding: .5em;
        }
        }
    }

    .footer-header {
        color: $white;
        font-family: avenirDemi;
        padding-bottom: 1em;
        font-size: 1.5em;
        line-height: 2em;
        margin: 0;
        

        @media (min-width: 37.5em) {
            font-size: 2.25em;
            line-height: 2.75em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            p {
                margin: 0em;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .footer-contactinfo {
        @media (min-width: 37.5em) {
            width: 100%;
            justify-content: space-between;
            display: flex;
        }

        @media (min-width: 75em) {
            width: 75%;
            @include tablet-desktop__footer
        }

        @media (min-width: 75em) {
            font-size: 1em;
            line-height: 1.5em;
            height: auto;
        }
    }

    .footer-copy__first-line {
        font-weight: 600;
    }

    .footer-copy {
        font-weight: 400;

        @media (min-width: 37.5em) {
            @include tablet-desktop__footer
        }
    }

    .footer-logo__two {
        line-height: 2em;
        padding-top: 1.5em;
        padding-bottom: 0em;

        @media (min-width: 37.5em) {
            display: none;
        }
    }

    .footer-logo__one {
        line-height: 2em;
        padding-bottom: 0em;
        display: flex;
        width: 45%;
        justify-content: flex-end;
        right: 1%;
        
        @media (max-width: 37.4735em){
            display: none;
        }

        @media (min-width: 75em) {
            width: 70%;
        }
    }

    .footer-copyright {
        font-size: 0.8125em;
    }
}